<form #f="ngForm">

    <div class="form-group">
        <label for="time">Time</label>
        <input type="text" class="form-control" id="time" placeholder="Time" [(ngModel)]="currentMeasurement.time"
               required isNumber isInRange name="time" #time="ngModel">
            
        <div *ngIf="f?.controls?.time?.hasError('required') && (f?.controls?.time?.dirty && !f.submitted)" class="alert alert-danger">
            *
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="f?.controls?.time?.hasError('isNumber') && (f?.controls?.time?.dirty && !f.submitted)" class="alert alert-danger">
            Please enter a number
        </div>

        <div *ngIf="f?.controls?.time?.hasError('isInRange') && (f?.controls?.time?.dirty && !f.submitted)" class="alert alert-danger">
            Please enter a valid number (Integer-Range)
        </div>
    </div>
    <button type="submit" class="btn btn-default" (click)="AddOrUpdateFood()" [disabled]="!f?.valid">Submit</button>
</form>